*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.width{
    width:70vw;
}

.margin{
    margin: auto;
}

header img{
    border-right: 1px solid gray;
    padding: 0 20px 0 0;
    width: 20%;

}

li{
    display: inline-block;
    padding:20px 0;
}

a{
    text-decoration: none;
    padding:0 10px 0 0;
    
}

.grey,
a{
    color: grey;
}

main{
    height: 90vh;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.164);
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

}

.main-bg{
    
    height: 60%; 
    position: relative;
}

.bg-img{
    background-image: url(./../img/banner.jpg);
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
}

.main-bg section{
    position: absolute;
    left:5%;
    bottom:15%;
    color: white;
}





.container-box{
    
    width:70vw;
    height: 75vh;
   
} 


.title{
    padding:20px 0;
    
}
.p-relative{
    position:relative;
}

.radius{
    border-radius: 5px;;
}
.l-section{
    
    width:20%;
    
    
    float: left;
    margin: 1% 1% 0 0;
    
}

.l-img{
    background-image: url(../img/img-1.jpg);
    height: 110px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;;
}



h4{
    margin:10px 0;
}

.c-section{
    
    height: 75%;
    width: 58%;
    margin: 1% auto;
    float: left;
}

.c-img{
    background-image: url(../img/banner-2.jpg);
    height: 110px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;;
    background-position: center;
}


.r-section{
    width:20%;
    float: right;
    margin: 1% 0 0 1%;
}

.r-img{
    background-image: url(../img/img-3.jpg);
    height: 110px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-position: center;
}





.clearfix::before{
    content:'';
    display: table;
    clear:both;
} 
 
footer{
    text-align: center;
    line-height: 10vh;
    vertical-align: middle;
}

div>span{
    color:red;
}